
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


.App{
  justify-content: center;
  width: auto;
  padding: 0;
  margin: 0;
  box-sizing:0;
  gap: 5vm;
}

:root{
  --mainColor:#eed6be ;
  --maiinColorLight:#5767aa ;
  --secondaryColor: #DB2B39;
  --textColor: #df7e1d; 
}
html{
  scroll-behavior: smooth;
}

body{
  background-color: #020306;
}

/*HOME*/
.home {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  width: auto;
  
}

.ide{
  font-size: 30px;
  grid-area: 1/1/2/2;
  opacity: 90%;
  transition: 1s;
}

.ide:hover{
  border-radius: 0px;
  padding: 5%;
  opacity: 100;
  transform: translateX(0px);
}

.img{
  display: flex;
  height: 1fr;
  padding: 1%;
  margin: 10%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 10px #df7e1d;
  background-color: #df7e1d;
  transition:1.3s ;
  opacity: 90%;
  overflow: visible;
  grid-area: 1/2/1/3;
  animation-name: imgcirc;
  animation-iteration-count: infinite;
  animation-duration: 8s; 
  animation-timing-function: ease-in-out; 
  animation-iteration-count: infinite; 
  animation-direction: alternate;
}


@keyframes imgcirc {
  0%{
    border-radius: 200px 900px 200px 900px;
  }
  25%{
    border-radius: 900px 200px 900px 200px;
  }
  50%{
    border-radius: 200px 900px 200px 900px;
  }
  75%{
    border-radius: 900px 200px 900px 200px;
  }
  100%{
    border-radius: 200px 900px 200px 900px;
  }
}
/* .img:hover{
  border-radius: 3000px;
  opacity: 100;
  margin: 20%;
  transform: translateX(0px);
} */

.ide {
  padding: 5%;
  color: #df7e1d;
  width: auto;
  height: 1fr; 
  font-family: 'Silkscreen', sans-serif;
  display: flex; /* Use flexbox to center content */
  align-items: center;
  justify-content: flex-start;
  background-color: #f3f3f3;
  border-radius: 0px;
}


.ide p{
  margin: 0 30px;
}

/*ABOUT*/
.about {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: auto;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--textColor);
  grid-area: 1/1/2/2;
  
}
.info p{
  font-size: 20px;
  padding: 5%;
}

.info h1{
  font-size: 50px;
  padding: 5%;
  z-index: -1;
}

.resume{
  border: none;
  border-radius: 20px;
  background-color: #df7e1d;
  cursor: pointer;
  color: var(--maiinColorLight);
  padding: 2%;
  margin: 20px;
}

.resume:hover{
  background-color: #781720;
  transition: 1s;
}

.map{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7%;
  

}
.skills{
  background-color: var(--textColor);
  border-radius: 50px;
  margin: 5%;
  width: 60%;
  margin-left: 20%;
  grid-area: 2/1/2/3;
}


/* .graph{
  padding-top:2% ;
  display: flex;
  align-items: center;
  color: var(--textColor);
  justify-content: center;
  grid-area: 1/2/3/2;
  position: relative;
} */

/*PROJECTS*/
.projects {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
  background-color: #f3f3f3;
  
}

.prcontainer{
  padding: 10%;
  
  grid-area: 1/1/3/3;
}

.prcontainer h1{
  padding: 5%;
  font-size: 50px;
  color: var(--textColor);
}

.projects video{
  position: absolute;
  z-index: -1;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.card{
  background-color: #f3f3f3;
}


@media only screen and (max-width:1024px){
  
  header .nav-btn{
    padding: 10%;
    margin-top:5px ;
    visibility: visible;
    opacity: 1;
  }

  header nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--maiinColorLight);
    color: #df7e1d;
    transition: 1s;
    transform: translateY(-1000vh);
  }

  header .responsive_nav{
    transform: none;
    z-index: 1;
  }

  .nav-menu{
    z-index: 1;
  }

  nav .nav-closbtn{
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a{
    font-size: 1.5rem;
  }

  .img{
    grid-area: 2/1/3/3;
    transition: 1s;
    padding: 5%;
    border-radius: 0%;
    width: 1fr;
    opacity: 100%;
  }

  .ide {
    grid-area: 1/1/2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    font-size: 20px;
    opacity: 100%;
  }

  .graph{
    height: 1fr;
    padding: 0;
    grid-area: 3/1/3/2;
  }

  .skills{
    grid-area: 2/1/2/2;
  }
  .info{
    padding: 3%;
    background-color: #f3f3f3;
    transition: 2s;
    height: auto;
  }

  
  /*COMPONENT_CONTAINERS*/
  .home {
    width: 100%;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr;
  }
  .about {
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr;
    grid-gap: 2em;
  }
  .projects {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .contacts {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
 .email{
  margin: 10%;
 }
}

.animatetoright{
  animation-duration: 1s;
  animation-name: animate-right;
}

.animatetorleft{
  animation-duration: 1s;
  animation-name: animate-left;
}

@keyframes animate-right{
  from{
    transform: translateX(-300px);
  }
  to{
    transform: translateX(0px);
  }
}

@keyframes animate-left{
  from{
    transform: translateX(300px);
  }
  to{
    transform: translateX(0px);
  }
}